.idea
*.pyc
*.l
/log
/certificate
__pycache__/
data/__pycache__/
data/cassandra_wrapper/__pycache__/
data/sql_wrapper/__pycache__/
strategy_handlers_under_goals/__pycache__/
!/install/numpy-1.13.3+mkl-cp36-cp36m-win_amd64.whl
